
h1{
  color: #C1D3FF;
    margin-bottom: -50px;
}
form {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.form{
    background-color:#121214;
    
}
img{
    margin-bottom: -40px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
  color: white;
}

input {

  height: 25px;
  width: 300px;
  background: #202024;
  border-radius: 4px;
}

button {
  width: 300px;
  height: 40px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

span {
  color: red;
  position:absolute;
  margin-top: 50px;
}