.labelavaliar {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
  color: white;
  text-align: center;
}

.input-avaliar {
  height: 50px;
  width: 500px;
  background: #202024;
  border-radius: 50px;
  color: aliceblue;
  border-style: solid
  
}


