/* CSS NAV */

.header {
    background: #202024;
    position: absolute;
    width: 1700px;
    height: 76px;
    left: 0px;
    top: 0px;
}

.flex-container {
    list-style-type: none;
    display: flex;
    align-content: flex-end;
    justify-content:center;      
   
}

.links{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 50px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a.links{
    margin-bottom: 100px;
}
a.links:hover{
    color: #81D8F7;
}

.linkslogin {
    position: absolute;
    width: 120px;
    height: 22px;
    left: 113px;
    top: 29px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #C1D3FF;
}
.linkslogin:hover{
    color: #81D8F7;
}

.imglogo{
    position: absolute;
    width: 62.22px;
    height: 56px;
    left: 28px;
    top: 12px;

}

.perfil{
    position: absolute;
    width: 50.2px;
    height: 52px;
    left: 1600px;
    top: 12px;
}

