.sobre h1 {
    
    position: absolute;
    width: 105px;
    height: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 44px;
}

.sobre p {
    position: absolute;
    width: 633px;
    height: 179px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: justify;
    color:#C1D3FF;
}


.sobre img{
    position: absolute;

    left: 839px;
    top: 227px;
    border-radius: 2%;
}